@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0d766d;
  --primary-color-light: #14b8a6;
  --primary-color-dark: #115e59;
  --background-color: #ffffff;
  --card-background: #ffffff;
  --text-color: #2C2C2C;
  --text-color-secondary: #6b7280;
  --text-color-tertiary: #A2A8AF;
  --border-color: #e5e7eb;
  --success-color: #10b981;
  --warning-color: #f59e0b;
  --danger-color: #ef4444;
  --info-color: #3b82f6;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.hostin-container {
  @apply max-w-[1320px] mx-auto px-4 sm:px-5 lg:px-6 xl:px-0;
}
